.immo-form {
	margin: 5px;
}

.submit-block {
	background-color: #3590cd;
	border: 1px solid #3590cd;
	border-radius: 0 0 8px 8px;
	.btn-submit {
		justify-self: center;
		width: fit-content;
		padding: 0 20px;
		margin: 10px 20px;
	}
}
