.immo-form {
	display: flex;
	flex-direction: column;
	& > div {
		padding-left: 10px;
		margin-top: 10px;
		margin-bottom: 10px;
		display: flex;
		flex-direction: column;
	}
	.block {
		border-left: 2px solid #f888ff;
	}
	margin-bottom: 20px;
}
