.amortizationSchedule {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.amortizationSchedule-title {
	text-align: center;
}

.amortizationSchedule-content {
	max-height: 0;
	overflow: hidden;
	transition:
		max-height 0.5s ease,
		padding 0.5s ease;
}

.amortizationSchedule-content.expanded {
	max-height: 500px;
	padding: 10px 0;
	overflow-y: auto; /* Enables vertical scrolling when content overflows */
}

.schedule-row {
	display: grid;
	grid-template-columns: repeat(6, 1fr); /* Two columns of equal size */
	gap: 10px; /* Space between rows and columns */
}
